/* o que eu fiz: */
/* .formulario {
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  height: 789px;
  width: 1121px;
  margin: 80px auto;
  padding: 33px 96px;
} */

/* o que o professor fez */
.formulario {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.formulario form {
  max-width: 80%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
}
